body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

header {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.subheader{
  font-size:24px;
  display: inline-block;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

#result{
  position: relative;
  top: 120px;
  left: 50px;
}

#input_prompt{
  position: relative;
  top: 50px;
  left: 50px;
}

input[type="file"] {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  position: relative;
  top: 50px;
  left: 50px;
}

button {
  background-color: #1a1a1a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

#predict_btn{
  position: relative;
  top: 100px;
  left: 50px;
}

#option_select{
  position: relative;
  top: 30px;
  left: 50px;
}

.headerbutton {
  background-color: #000000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  width:33%;
}

.about{
  position: relative;
  top: 20px;
  left: 50px;
}

.how_it_works{
  position: relative;
  top: 20px;
  left: 50px;
}

p {
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 5px;
}

.pca{
  position: relative;
  top: 60px;
  left: 50px;
  overflow: auto;
}
.image{
  float: left;
  margin-right: 20px;
  width: 40%;
}

.image2{
  width:20%;
}

.heatmap_header{
  position: relative;
  left: 20px;
  top: 60px;
}

.heatmap_header2{
  position: relative;
  left: 20px;
  top: 45px;
}

#date{
  position: relative;
  top: 150px;
  left: 1250px;
  font-size: 14px;
}