body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #7271ac;
}

header {
  background-color: #a75cd0;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.subheader{
  font-size:24px;
  display: inline-block;
  float: left;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="file"] {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  position: absolute;
  top: 200px;
  left: 50px;
}

button {
  background-color: #1a1a1a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

#predict_btn{
  position: absolute;
  top: 250px;
  left: 50px;
}

.headerbutton {
  background-color: #2c088d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  width:33%;
}

p {
  font-size: 18px;
  margin-top: 20px;
  padding: 10px;
  background-color: #e6e6e6;
  border-radius: 5px;
}
